*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
    /* border: 1px solid black; */
    margin: 3em;
}
.icon{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 600px;
    /* border: 1px solid yellow; */
    justify-content: space-around;
}
.icon div{
    border: 1px solid #3f51b5;
    padding: 20px;
    margin: 1em;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #3f51b5;
    box-shadow: 0px 0px 5px 1px black;
    color: white;
}
.icon div span{
    display: block;
    font-size: small;
    margin-top: 5px;
}
.icon div:hover{
    transform: scale(1.03);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px black;
}
.user-complaint-status{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    margin: 10px;
    /* border: 1px solid black; */
}
.user-complaint-status>div{
    box-shadow: 0px 0px 6px 1px inset wheat;
}
.user-complaint-status>div:first-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
    padding: 10px;
    height: 90px;
    margin: 10px;
    background-color: #6aa6db;
    border-radius: 10px;
    border: none
}
.user-complaint-status>div:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
    padding: 10px;
    height: 90px;
    margin: 10px;
    background-color: #f23d3d;
    border-radius: 10px;
    border: none
}
.user-complaint-status>div:nth-child(3){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
    padding: 10px;
    height: 90px;
    margin: 10px;
    background-color: #54bc6c;
    border-radius: 10px;
    border: none
}
.user-complaint-status>div>div:first-child{
    flex-grow: 1;
    font-size: 24px;
    font-weight: bold;
    flex-basis: 50%;
    align-self: center;
    color: white;
}
.user-complaint-status>div:hover{
    /* transform: scale(1.01); */
    cursor: pointer;
    /* box-shadow: 0px 0px 5px 1px black; */
}
.user-complaint-status>div>div:nth-child(2){
    flex-basis: 50%;
    flex-grow: 1;
    align-self: flex-end;
}
.user-complaint-status>div>div:nth-child(3){
    margin: 15px 0px 0px 0px;
    flex: 1;
    font-size: small;
    text-align: left;
    font-weight: bold;
    color: white;
    padding: 5px;
}